# Data
data/*.zip
data/images/
data/labels/

# Model weights
weights/*.pt
weights/*.onnx
research/*.pt

# Training & experiment runs
runs/
mlruns/

# Python
__pycache__/
*.pyc
.env

# Documents
*.docx
